.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 55px;
    right: 45px;
    z-index: 10;
    border-radius: 20px;

    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  
    button {
      margin-top: auto;
    }
  }
  .dropShade{
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 98vh;
    
  }
  