.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  
  height: 500px;

  .title {
    
    font-size: 28px;
    margin-bottom: 25px;
   
  }

  .preview {
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    min-height: 380px;
    overflow-y: hidden;
  }
}
::-webkit-scrollbar {
  width: 9px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;

  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e50051; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
@media (max-width: 555px) {
  .collection-preview{
    .title{
      margin-left: 25px;
    }
  }
}