.sign-in-and-sign-up {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin:50px auto;
    height: 70vh;


    .line{
      border-left: solid #E50051;
      border-width: 2px;
      height: 85%;
    }
  }
  