.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
 
  
    .title {
      margin: 10px 0;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
  }
  }
  @media (max-width: 840px) {
    .sign-up{
      margin-top: 60px;
     
    }
    
  }
  @media (max-width: 1360px) {
    .sign-up{
    
      width: 350px;
    }
    
  }
