.checkout-page {
    width: 55%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px  auto;
  
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        display: flex;
        &:last-child {
          width: 8%;
        }
        span{
          margin-left: auto;
        }
      }
    }
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 34px;
    }
  }

  @media (max-width: 1180px) {
    .checkout-page{
      width: 70%;
      margin: 40px  auto;
      .total{
        font-size: 22px;
      }
    }
  }
  @media (max-width: 666px) {
    .checkout-page{
      width: 80%;
      .header-block{
        font-size: 16px;
      }
      .total{
        font-size: 18px;
      }
    }
    
  }