.footer {
  display: flex;
  bottom: 0;
  color: #ddd;
  background: linear-gradient(to right, #e50051 25%, #3a49ee);
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: auto;
}
