.footer{
    display: flex;
    bottom: 0;
  color:#ddd;
  background-color:#282E34;
 min-height: 10vh;
  align-items: center; 
  justify-content: center;
  

}

.footer p {
    
        display: block;
        margin: auto;
    
}